<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Infinity CMS{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/infinitycms/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/fatcowicons/css/fatcowicons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/infinitycms/css/styles.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/infinitycms/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/infinitycms/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% if form is defined %}
    {% form_theme form 'InfinityCMSBundle:Forms:fields.html.twig' %}
{% endif  %}

{% if app.user %}
    {{ render(controller("InfinityCMSBundle:Common:menu", {'route':app.request.attributes})) }}
{% endif %}

{{ include("InfinityCMSBundle:Common:alert.html.twig") }}
{% block body %}
{% endblock %}
</body>
</html>