{% extends "InfinityCMSBundle::layout.html.twig" %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_errors(form) }}

	<div class="row-fluid">
		<div class="col-md-10">
			<div class="well">
				<section id="infos">
					<h3 class="title">{{ "new_folder"|trans({}, 'media_library') }}</h3>

					<div class="form-group">
						{{ form_label(form.name, "folder_name"|trans({}, 'media_library'), {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

						{{ form_errors(form.name) }}

						<div class="col-sm-7">
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(form.parent_id, "parent_folder"|trans({}, 'media_library'), {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

						{{ form_errors(form.parent_id) }}

						<div class="col-sm-7">
							{{ form_widget(form.parent_id, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="col-md-2">
			<div class="well">

				{{ form_widget(form.save, {'label': 'save'|trans, 'fatcowicon':'disk', 'attr': {'class': 'btn btn-success'}}) }}

				<a href="{{ path('infinity_cms_medias') }}" class="btn btn-warning">
					<span class="fci fci-cancel"></span>
					{{ "cancel"|trans }}
				</a>
			</div>
		</div>
	</div>

	{{ form_rest(form) }}

{{ form_end(form) }}
{% endblock %}