{% extends "InfinityCMSBundle:Medias:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/infinitycms/vendor/jquery-contextify/jquery.contextify.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-12 icon-view-home">
        <div class="well well-sm">
            <h3 class="title">{{ 'media_library'|trans({}, 'media_library') }}</h3>

            <ol class="breadcrumb">
                <li><a href="">{{ "root_folder"|trans }}</a></li>

                <li class="active">
                    Test
                    <a href="" class="fci fci-pencil"></a>
                </li>
            </ol>

            <ul class="nav" id="folder-window">
                {% for folder in folders %}
                    <li class="folder">
                        <a href="{{ path('infinity_cms_medias_folder_view', {'id': folder.id}) }}" class="fci fci32-folder">
                            <span>{{ folder.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div>
                <ul class="dropdown-menu" style="display:block">
                    <li><a href="#"><span class="fci fci-folder-add"></span> Ajouter un dossier</a></li>
                    <li><a href="#"><span class="fci fci-folder"></span> Ajouter un média</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><span class="fci fci-cross"></span> Supprimer</a></li>
                </ul>
            </div>

            {#
            <a href="{{ path('infinity_cms_medias_folder_add') }}" class="btn btn-custom">
                <span class="fci fci-folder-add"></span>
                {{ 'add_folder'|trans({}, 'media_library') }}
            </a>
            <a href="{{ path('infinity_cms_medias_media_add') }}" class="btn btn-custom">
                <span class="fci fci-picture-add"></span>
                {{ 'add_media'|trans({}, 'media_library') }}
            </a>
            #}
        </div>
    </div>

    <script type="text/javascript">

        var options = {
            hideOnMouseUp: false,
            hideOnScroll: false,
            items:[
                {text: '<span class="fci fci-folder-add"></span> Ajouter un dossier', href: '{{ path('infinity_cms_medias_folder_add') }}'},
                {text: '<span class="fci fci-photo-add"></span> Ajouter un media', href: '{{ path('infinity_cms_medias_folder_add') }}'},
                {divider: true},
                {text: 'Supprimer', href: '#'}
            ]
        }
        $('#folder-window').contextify(options);

        /*
        $('#folder-window').on('contextmenu', function(e){
            e.stopPropagation();
            e.preventDefault();

            console.log('menu > add folder > add media');
        });

        $('#folder-window .folder').on('contextmenu', function(e){
            e.stopPropagation();
            e.preventDefault();

            console.log('menu > Ouvrir > Renommer');
        });
        */
    </script>
{% endblock %}