@import "mixins";
@import "vars";

a, .btn-link {
  color: $mainColor;
  &:hover, &:focus {
    color: $mainColor;
  }
}

.btn-custom {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

  color: #ffffff;
  @include gradient($mainColor, $secondColor, 270);
  border-color: $secondColor;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #ffffff;
  background: $secondColor;
  border-color: $secondColor;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-custom .badge {
  color: $mainColor;
  background-color: #ffffff;
}

.btn-success {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  @include gradient($bsGreenColor, $bsGreen2Color, 270);
  border-color: $bsGreen2Color;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background: $bsGreen2Color;
  border-color: $bsGreen2Color;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $bsGreenColor;
  border-color: $bsGreen2Color;
}

.btn-success .badge {
  color: $bsGreenColor;
  background-color: #ffffff;
}

.progress-bar-success {
  @include gradient($bsGreenColor, $bsGreen2Color, 270);
}

.alert-error {
  background-color: #f2dede;
  color: #d9534f;
}

.white-caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}

.btn.icon {
  padding-left: 20px;
  background-position: center left;
  background-repeat: no-repeat;
}

.btn-toggle {
  padding-top: 5px;

  input {
    display: none;
  }
  .btn-default {
    color: #f5f5f5;
  }
}

.badge {
  font-weight: normal;
}

#pageHeader .badge {
  background: white;
  color: $mainColor;
}

.append-icon {
  display: inline;
  width: calc(100% - 40px);

  + .fci {
    margin-left: 10px;
    //display:inline;
  }
}

.well {
  &.nested {
    float: left;
    width: 100%;
  }
  .title:nth-of-type(1) {
    margin-top: 0px;
  }
  section {
    clear: both;
    display: inline-block;
    margin: 20px 0 5px 0;
    &:nth-of-type(1) {
      margin-top: 0px;
    }
  }
  .nav-tabs {
    .active {
      a {
        &:hover {
          color: $secondColor;
        }
      }
    }
  }
}

.nav {
  li.active {
    a {
      color: $secondColor;
      font-weight: bold;
    }
  }
}

.navbar {
  &.navbar-thin {
    min-height: 20px;

    .navbar-text {
      margin: 5px 15px;
      line-height: 20px;
    }

    .form-control {
      height: 20px;
      padding: 2px 5px;
      margin: 5px 0px;
    }
  }
}

.pagination {
  li {
    a {
      color: $mainColor;
      &:hover {
        color: $secondColor;
      }
    }
  }
  .active {
    a, span {
      background: $mainColor;
      border-color: $secondColor;
      &:hover, &:focus {
        background: $mainColor;
        border-color: $secondColor;
      }
    }
  }
}

tfoot {
  .pagination {
    float: right;
    margin-bottom: 0px;
  }
  .btn {
    float: left;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .dl-horizontal {
    &.dl-md {
      dt {
        width: 250px;
      }
      dd {
        margin-left: 270px;
      }
    }
  }
}

// TABS
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid $secondColor;

  & > li {
    margin-top: -1px;
    margin-bottom: 0;
    & > a {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;

      &:hover, &:focus {
        border-top-color: $secondColor;
        border-bottom-color: transparent;
      }
    }
  }
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent $secondColor $secondColor $secondColor;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
  & > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid $secondColor;

  & > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;

    &:hover, &:focus {
      border-color: $mainColor $secondColor $mainColor $mainColor;
    }
  }
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: $secondColor transparent $secondColor $secondColor;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid $secondColor;

  & > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;

    &:hover, &:focus {
      border-color: $mainColor $mainColor $mainColor $secondColor;
    }
  }
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: $secondColor $secondColor $secondColor transparent;
  *border-left-color: #ffffff;
}