#pageHeader{
  position: fixed;
  top:0px;
  width:100%;
  z-index:10;
}
#topWrapper {
  padding:10px;
  background:$mainColor;

  * {
    color:white;
  }
  .profile {
    img {
      width:40px;
      height:40px;
      vertical-align:top;
      margin-right:10px;
      text-align:left;
      display:inline;
    }
    div {
      display:inline-block;
      .date {
        font-size:12px;
      }
    }
  }
  .userMenu{
    float:right;

    a{
      display:inline-block;
      height:40px;
      padding:20px 10px 0 10px;
      border-left:1px dotted $grey;
      text-align:center;
      background-repeat:no-repeat;
      background-position:center 2px;
    }

    .todo {background-image: url('#{$icon16}/process_marked_headers.png');}
  }
}

#mainMenu {
  border-top:1px dotted $grey;
  box-shadow: 0px 5px 10px #A1A1A1;
  margin-bottom:20px;
  background:$mainColor;

  *{
    color:white;
  }
  ul{
    margin-left:50px;
    li{
      display:inline-block;
      margin-right:10px;
      padding:5px 10px;
      &.active{
        background:$secondColor;
        border-radius :5px;
      }
      a{
        padding-left:20px;
        background-repeat:no-repeat;
      }
    }
  }
}