.ui-autocomplete {
  min-width:250px;
  max-height : 250px;
  overflow-y: auto;
  // prevent horizontal scrollbar
  overflow-x: hidden;
}
//body .ui-autocomplete .ui-menu-item .ui-state-focus

body {
  .ui-autocomplete{
    .ui-menu-item {
      .ui-state-focus {
        color:white;
        background: $mainColor;
        background-color: $mainColor;
        background-image: -khtml-gradient(linear, left top, left bottom, from($mainColor), to($secondColor));
        background-image: -moz-linear-gradient(top, $mainColor, $secondColor);
        background-image: -ms-linear-gradient(top, $mainColor, $secondColor);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $mainColor), color-stop(100%, $secondColor));
        background-image: -webkit-linear-gradient(top, $mainColor, $secondColor);
        background-image: -o-linear-gradient(top, $mainColor, $secondColor);
        background-image: linear-gradient(top, $mainColor, $secondColor);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$mainColor', endColorstr='$secondColor', GradientType=0);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-color: $secondColor $secondColor #003f81;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      }
    }
  }
}