@mixin imgAndGradient($img, $color1, $color2, $deg:0, $stop1:0%, $stop2:100%) {
  background: $color2;
  background-image: url($img), -webkit-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background-image: url($img), -moz-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background-image: url($img), -ms-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background-image: url($img), -o-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background-image: url($img), linear-gradient(( $deg - 90 ) + deg, $color1 $stop1, $color2 $stop2);
}

@mixin gradient($color1, $color2, $deg:0, $stop1:0%, $stop2:100%) {
  background: $color2;
  background: -webkit-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background:    -moz-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background:     -ms-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background:      -o-linear-gradient($deg + deg, $color1 $stop1, $color2 $stop2);
  background:         linear-gradient(( $deg - 90 ) + deg, $color1 $stop1, $color2 $stop2);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2')";
}