$img: '../images';
$icon16: '#{$img}/icons16x16';
$icon32: '#{$img}/icons32x32';

$mainColor: rgb(152, 191, 224);
$grey: rgb(229,229,229);
$darkGrey: rgb(134,136,137);
$secondColor: rgb(108, 138, 183);
$bsGreenColor: rgb(160,196,50);
$bsGreen2Color: rgb(126,166,0);

$mainColorStr: 'a0c432';
$secondColorStr: '7ea600';