@import "vars";

#infinity-bar{
  background: $mainColor;
  color: white;
  border-bottom:1px solid $secondColor;
  position:fixed;
  z-index:999;
  width:100%;
  height:30px;

  * {
    font-size: 14px;
  }

  a {
    color:white;
  }

  .navbar-nav > li {
    margin-right:20px;
    padding:5px 0px;

    & > a {
      padding:0px;
      &:hover{
        background:none;
      }
    }
  }

  a.fatcow-icon {
    cursor: pointer;
  }
  .btn {
    > .fatcow-icon {
      display:inline-block;
      vertical-align:middle;
    }
  }
  .fatcow-icon {display:inline-block;width:16px;height:16px;background: no-repeat center center;}

  .dropdown-menu {
    li{
      padding:5px 2px;
    }
    a {
      color:$secondColor;
    }
  }
  .open-btn{
    display:none;
    color:$secondColor;
    background:none;
    line-height:30px;
    font-weight:bold;
  }

  .close-btn{
    display:inline-block;
    background:none;
  }

  &.minimized{
    width:auto;
    border-right:1px solid $secondColor;
    .open-btn{
      display:block;
    }
    .close-btn, .maxi-bar{
      display:none;
    }
  }
}