@import "mixins";
@import "vars";

.tabs-associations {
  position: absolute;
  float: left;
  right: -40px;
  top: 100px;
  z-index: 100;

  ul {
    border-left: 1px solid #6c8ab7;

    li {
      min-width: 30px;
      a {
        min-width: 40px !important;
        height: 50px;
        border: 1px solid $secondColor;
        background-color: $mainColor;
        padding: 15px 10px;

        &:hover, &.show, li.active & {
          background-color: $secondColor;
        }
      }
    }
  }
}