@import "mixins";
@import "vars";

.icon-view-home {
  .nav {
    min-height:150px;
    li {
      width: 150px;
      height:140px;
      border:1px solid white;
      &:hover {
        border-color:$secondColor;
      }
      a {
        padding-top:75px;
        background-position:center 20px;
      }
    }
  }
  .breadcrumb {
    .active {
      .icon {
        margin-left:5px;
        vertical-align:middle;
      }
    }
  }
}