@import "mixins";
@import "vars";

* {
  color: $darkGrey;
  font-family: Ubuntu;
}

*.paddingFree {
  padding: 10px;
}


ul.inline {
  margin: 0px;
  padding: 0px;
  li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0px;
  }
}

.toggleShow {
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}

/* Bootstrap */
@import "bsCustom";
/* JQuery */
@import "jQuery";

body {
  padding-top: 120px;
}

*.noMarginBottom {
  margin-bottom: 0px;
}

#loaderFrame {
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5) url('#{$img}/ajax-loader.gif') center 130px no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;

  strong {
    display: block;
    margin: 150px auto 0px auto;
    color: $mainColor;
  }
}

/** Login */
#loginLogo {
  margin: 50px auto 0 auto;
}

#log {
  width: 500px;
  margin: 10px auto 0 auto;

  .well {
    width: 500px;
    border: 1px solid $mainColor;
    margin-top: 10px;
  }
}

/** Header */
@import 'header';

.well {
  > .title {
    margin-top: 0px;
    font-weight: normal;
  }
}

/** Switch */
@import 'switch';

.fixed {
  position: fixed;
}

.icon-view-home {
  .title {
    margin: 10px 0 0 10px;
  }
  .nav {
    li {
      float: left;
      display: table-cell;
      margin: 10px;
      width: 200px;
      height: 100px;
      padding: 4px;
      background: none;
      vertical-align: bottom;

      a {
        background-position: center 5px !important;
        display: block;
        width: 100%;
        padding-top: 50px;
        text-align: center;

        &:hover {
          background-color: transparent;
        }
      }

      &:hover {
        a {
          color: $secondColor;
        }
      }
    }
  }
}

section {
  display: block;
  margin-bottom: 21px;
  width: 100%;
}

.dynamic-table-rows {
  margin-bottom: 5px;

  th:last-child,
  td:last-child {
    width: 50px;
    vertical-align: middle;
  }
}

.table {
  tr:hover {
    td.clickable, td.clickable * {
      cursor: pointer;
      color: $mainColor;
    }
  }
}

.openable-left-panel {
  position: fixed;
  display:table;
  z-index: 100;
  width: calc((250% / 3) - 25px);
  min-height: calc(100% - 105px);
  top: 100px;
  left: calc(25px - (250% / 3));
  border: 1px solid #6c8ab7;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  bottom:0px;

  -webkit-transition: left 0.1s linear; /* For Safari 3.1 to 6.0 */
  transition: left 0.1s linear;

  &.show {
    left: 0%;
  }
}

.context-menu {
  position: absolute;
  min-width: 150px;
  z-index: 100;
  background: #f9f9f9;
  border: 1px solid #cccccc;
  display: none;
  padding: 5px 10px;
  ul {
    margin: 0px;
    li {
      margin: 5px 0px;
    }
  }
}

#data-calendar {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  min-height: 100px;
  background: white url('#{$img}/ajax-loader.gif') center center no-repeat;
}

#ScriptPerformance {
  position: fixed;
  margin: 0;
  bottom: 0px;
  width: 100%;
}