{% for key, message in app.session.flashbag.all() %}
<div class="container-fluid">
    <div class="alert alert-{{ key }} col-md-12">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
</div>
{% endfor %}

<script>
    $(document).ready(function() {
        $('.alert').show().delay(2000).fadeOut(200);
    });
</script>