{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <div id="pageHeader">
        <div id="topWrapper">
            <div class="userMenu">
                <a href="{#{ path('infinity_cms_user_my_account') }#}" class="fci-account-functions">{{ 'my_account'|trans }}</a>
                <a href="" data-keyboard="true" data-toggle="modal" data-target="#helpModal" class="fci-help">Aide</a>
                <a href="{{ path('infinity_cms_logout') }}" class="fci-control-power-blue">{{ 'logout'|trans }}</a>
            </div>
            <div class="search"></div>
            <div class="profile">
                <div>
                    <span class="identity">{{ app.user.username }}</span><br />
                    <span class="date">{{ 'now' | localizeddate('full', 'none') }}</span>
                </div>
            </div>

        </div>
        <div id="mainMenu">
            <ul class="inline">
                {% for route, item in menu %}
                    <li{% if app.request.attributes.get('_route') == route %} class="active"{% endif %}>
                        <a href="{{ path(route) }}" class="{{ item.icon }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
