{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if fatcowicon is not empty  %}<span class="fci fci-{{ fatcowicon }}"></span>&nbsp;{%- endif -%}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget -%}