{% extends "InfinityCMSBundle::layout.html.twig" %}

{% block body %}

    <div id="log">
        <div class="well">
            <form method="post" class="form-horizontal" action="{{ path('infinity_cms_login_check') }}">
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ "username"|trans }}</label>
                    <div class="col-sm-8">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ "password"|trans }}</label>
                    <div class="col-sm-8">
                        <input type="password" id="password" name="_password" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" name="cms_login" class="btn btn-custom"><span class="fci fci-control-power-blue"></span> {{ "login"|trans }}</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}